<h1>Applicant Resume Generator</h1>

<body>
  <div class="instructions">
    <h3>Instructions:</h3>
    <p>Our resume template creates a resume best matched for a certain job position. For it to work, we first need some information from you.</p>
    <ol>
      <li>If you haven't yet, please <a href="">provide us all the information</a> an employer should know about you.</li>
      <li>Use our handy-dandy <a href="">job-search page</a> to find out the job ID of the position you are interested in.</li>
      <li>Paste that job ID below and let us work our magic!</li>
    </ol>
  </div>

    <label>Input the Job ID here:</label>
    <div class="input-group">
      <input (input)="collectId($event)" placeholder="123456" >
    </div>
    <label>Input your email here:</label>
    <div class="input-group">
      <input (input)="collectEmail($event)" placeholder="jameskan@gmail.com" >
    </div>
 <button type="submit" class="btn btn-primary" (click)="buildResume()">Build My Resume</button>
<br>
 <div class="btn-group" role="group" aria-label="Basic example">
   <button type="button" class="btn btn-secondary" (click) = "getHobbies()">Include Your Hobbies</button>
   <button type="button" class="btn btn-secondary" (click) = "getExperiences()">Include Your Experiences</button>
   <button type="button" class="btn btn-secondary" (click) = "getAwards()">Include Your Awards</button>
   <button type="button" class="btn btn-secondary" (click) = "getCodingProjects()">Include Your Coding Projects</button>
 </div>


   <br>
   <!-- this one will show applicant information as well as matching, missing requirements for the job -->
   <ul class = "appHas" *ngFor="let hasReqs of applicantHas$">
     <li> Technology Requirements you Have: <strong>{{hasReqs.TECHNOLOGYNAME}}</strong></li>
   </ul>
   <ul *ngFor="let missingReqs of applicantMissing$">
     <li> Technology Requirements you are Missing: <strong>{{missingReqs.TECHNOLOGYNAME}}</strong></li>
   </ul>
   <div class = "vanillaapplicant" *ngIf="resumeGenerated"> <!---->
   <ul *ngFor="let attribute of applicantInfo$">
       <li>
           <ul>
               <li> Your Name: <strong>{{attribute.APPLICANTNAME}}</strong></li>
               <li> Your Email: <strong>{{ attribute.APPLICANTEMAIL}}</strong> </li>
               <li> Your Address: <strong> {{ attribute.APPLICANTADDRESS}}</strong> </li>
               <li> Your GitHub Account: <strong> {{ attribute.GITHUBACCOUNT}}</strong> </li>
               <li> Your Phone Number: <strong> {{ attribute.APPLICANTPHONENUMBER}}</strong> </li>
               <li> Your Personal Description: <strong> {{ attribute.PERSONALDESCRIPTION}}</strong> </li>
               <hr>
           </ul>
       </li>
   </ul>
 </div>
 <div class = "codingproject" *ngIf="includeCodingProjects">
   <ul *ngFor="let project of generatedCodingProjects$"><!---->
       <li>
           <ul>
               <li> Project Name: <strong>{{project.PROJECTNAME}}</strong></li>
               <li> Project Language: <strong>{{ project.LANGUAGE}}</strong> </li>
               <li> Project Description: <strong> {{ project.PROJECTDESCRIPTION}}</strong> </li>
               <li> Project Complexity: <strong>{{ project.COMPLEXITY}}</strong> </li>
               <li> Project Category: <strong>{{ project.CATEGORY}}</strong> </li>
               <hr>
           </ul>
       </li>
   </ul>
 </div>
 <div class = "experience" *ngIf="includeExperiences">
   <ul *ngFor="let experience of generatedExperiences$"><!---->
       <li>
           <ul>
               <li> Experience Organization: <strong>{{experience.ORGANIZATION}}</strong></li>
               <li> Experience Role: <strong>{{ experience.EXPERIENCEROLE}}</strong> </li>
               <li> Experience Description: <strong> {{ experience.EXPERIENCEDESCRIPTION}}</strong> </li>
               <li> Experience Duration: <strong>{{ experience.DURATION}}</strong> </li>
               <li> Experience Type: <strong>{{ experience.EXPERIENCETYPE}}</strong> </li>
               <hr>
           </ul>
       </li>
   </ul>
 </div>
 <div class = "award" *ngIf="includeAwards">
   <ul *ngFor="let award of generatedAwards$"><!---->
       <li>
           <ul>
               <li> Award Name: <strong>{{award.AWARDNAME}}</strong></li>
               <li> Award Description: <strong>{{ award.AWARDDESCRIPTION}}</strong> </li>
               <li> Award Date Received: <strong> {{ award.DATERECEIVED}}</strong> </li>
               <hr>
           </ul>
       </li>
   </ul>
 </div>
 <div class = "hobby" *ngIf="includeHobbies">
 <ul *ngFor="let hobby of generatedHobbies$"> <!---->
     <li>
         <ul>
             <li> Hobby Name: <strong>{{hobby.HOBBYNAME}}</strong></li>
             <hr>
         </ul>
     </li>
 </ul>
</div>
</body>
