<h1>Applicant Resume Generator</h1>

<body>
  <div class="instructions">
    <h3>Instructions:</h3>
    <p>Our resume template creates a resume best matched for a certain job position. For it to work, we first need some information from you.</p>
    <ol>
      <li>If you haven't yet, please <a href="">provide us all the information</a> an employer should know about you.</li>
      <li>Use our handy-dandy <a href="">job-search page</a> to find out the job ID of the position you are interested in.</li>
      <li>Paste that job ID below and let us work our magic!</li>
    </ol>
  </div>

    <label>Input the Job ID here.</label>
    <div class="input-group">
      <input (input)="collectId($event)" placeholder="123456" >
    </div>
    <label>Input your email here.</label>
    <div class="input-group">
      <input (input)="collectEmail($event)" placeholder="jameskan@gmail.com" >
    </div>
 <button type="submit" class="btn btn-primary" (click)="buildResume()">Build My Resume</button>
<br>
 <div class="btn-group" role="group" aria-label="Basic example">
   <button type="button" class="btn btn-secondary" (click) = "getHobbies()">Include Your Hobbies</button>
   <button type="button" class="btn btn-secondary" (click) = "getExperiences()">Include Your Experiences</button>
   <button type="button" class="btn btn-secondary" (click) = "getAwards()">Include Your Awards</button>
   <button type="button" class="btn btn-secondary" (click) = "getCodingProjects()">Include Your Coding Projects</button>
 </div>

 <!-- <div class="showPostings" *ngIf="resumeGenerated">
   <ul>
       <li *ngFor='field post of generatedResume$'>
           <ul>
               <li> Applicant Name: <strong>{{post.COMPANYNAME}}</strong></li>
               <li> Hobbies: <strong>{{ post.ID}}</strong> </li>
               <li> Field: <strong> {{ post.FIELD}}</strong>      Position:<strong> {{ post.POSITIONTITLE }}</strong> </li>
               <li> {{ post.DESCRIPTION }}   <button (click)="delete()"> Delete Posting </button></li>
               <hr>
           </ul>
       </li>
   </ul>
 </div> -->
</body>
