h1 {
    text-align: center;
}

a {
    color: rgb(95, 81, 175);
}

body {
    position: relative;
    top: 25px;
}

form{
    position: relative;
    top: 50px;
}

.btn-group{
  margin:0 auto;
  display: block;
  margin-top:5%;
}

.vanillaapplicant{
  color :	#F08080;
}

.codingproject{
  color :	#FF8C00;
}

.experience{
  color :	#3CB371;
}

.award{
  color :	#4169E1;
}

.hobby{
  color :	#663399;
}
