<h1> Applicant Information </h1>
<body>
  <div class="container-fluid">
  <form>
  <p>Select item type that you would like to add to your resume.</p>


  <div *ngFor="let type of item">
    <input
    type="radio"
    name = "ItemType"
    value="{{type}}"
    (change)="activityTypeChangedHandler($event)">
  <i>{{type}}</i></div>


  <hr>
  <div class="form-group" *ngIf="visibleExperienceType">
      <p>You've selected {{experienceType}}</p>
    <div *ngFor="let type of experienceTypeArray">
      <input
      type="radio"
      name = "ItemType"
      value="{{type}}"
      (change)="selectExperienceType($event)">
    <i>{{type}}</i></div>
   </div>
 <hr>
  
  <div class="form-group2" *ngIf="visibleCategory">
    <p>You've selected {{category}}</p>
      <div *ngFor="let type of categoryArray">
        <input
        type="radio"
        name = "ItemType2"
        value="{{type}}"
        (change)="collectCategory($event)">
      <i>{{type}}</i></div>
      <hr></div>

      <p>Type: {{itemType}}</p>

      <div class="form-group" *ngIf="visibleEmail">
        <label for="exampleFormControlTextarea1">Applicant Email</label>
        <textarea class="form-control" id="email" rows="1" (input)="collectApplicantEmail($event)"></textarea>
      </div>

  <div class="form-group" *ngIf="visibleTitle">
    <label for="exampleFormControlTextarea1">Name</label>
    <textarea class="form-control" id="activityName" rows="1" (input)="collectName($event)"></textarea>
  </div>

  <div class="form-group" *ngIf="visibleDescription">
    <label for="exampleFormControlTextarea1">ActivityDescription</label>
    <textarea class="form-control"  id="activityDescription" (input)="collectDescription($event)" rows="3"></textarea>
  </div>


  <div class="form-group" *ngIf="visibleOrganization">
    <label for="exampleFormControlInput1">organization</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Google"
    (input)= "collectOrganization($event)">
  </div>

  <div class="form-group" *ngIf="visibleLanguage">
      <label for="exampleFormControlInput1">One Main Language Used</label>
      <input  class="form-control" id="exampleFormControlInput1" placeholder="Java"
      (input)= "collectLanguage($event)">
    </div>

    <div class="form-group" *ngIf="visibleDuration">
        <label for="exampleFormControlInput1">Length of Involvment (Unit Months) </label>
        <input  class="form-control" id="exampleFormControlInput1" placeholder="4"
        (input)= "collectDuration($event)">
      </div>

      <div class="form-group" *ngIf="visibleDateRecieved">
          <label for="exampleFormControlInput1">Date of Reciving</label>
          <input  class="form-control" id="exampleFormControlInput1" placeholder="MM/DD/YYYY"
          (input)= "collectDateRecieved($event)">
        </div>
 <div class="form-group" *ngIf="visibleRole">
          <label for="exampleFormControlInput1">Role</label>
          <input  class="form-control" id="exampleFormControlInput1" placeholder="Leader"
          (input)= "collectRole($event)">
        </div>

  <div class="form-group" *ngIf="visibleComplexity">
    <label for="exampleFormControlSelect1">Complexity of Project</label>
  <select class="form-control" id="exampleFormControlSelect1" (input)="collectComplexity($event)">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
  </select>
  </div>



  </form>

  <button type="button" class="btn btn-primary btn-lg btn-block"
  (click)="addItem()">Add to resume</button>

  </div>



  </body>
