<body>
  
  <div class="container-fluid">
  
  
  <form>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Select Info Type</label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="WorkExperience" checked>
      <label class="form-check-label" for="exampleRadios1">
        Work Experience
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="VolunteerExperience">
      <label class="form-check-label" for="exampleRadios2">
        Volunteer Experience
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="VolunteerExperience">
      <label class="form-check-label" for="exampleRadios2">
         Coding Projects
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="Hobbies">
      <label class="form-check-label" for="exampleRadios3">
        Hobbies
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="Awards">
      <label class="form-check-label" for="exampleRadios3">
        Awards
      </label>
    </div>
  </div>
  
  <label for="exampleFormControlSelect1">Example select</label>
  <select class="form-control" id="exampleFormControlSelect1">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
  </select>
  
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Name</label>
    <textarea class="form-control" id="activityName" rows="1"></textarea>
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlTextarea1">ActivityDescription</label>
    <textarea class="form-control"  id="activityDescription" (input)="collectDescription($event)" rows="3"></textarea>
  </div>
  
  
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  
  </form>
  
  
  </div>
  
  
  
  </body>