<p>Job Postings</p>
<!--<ul>
        <li >
            <ul>
                <p>Position Info</p>
                <li>{{postings.id}}</li>
                <li>{{postings.positionTitle}}</li>
                <li>{{postings.field}}</li>
            </ul>
            <ul>
                <p>About Company</p>
                <li>{{postings.companyName}}</li>
                <li>{{postings.companyDescription}}</li>
                <li>{{postings.companyDomain}}</li>
                <li>{{postings.country, postings.address,postings.city,postings.province, postings.postalCode}}</li>
            </ul>
            <ul>
                <p>Required Technology</p>
                <li>{{postings.technologyName}}</li>
            </ul>
        </li>
    </ul> -->
