
<body><label>Input the Job ID here to find Applicants Suitable.</label>
<div class="input-group">
  <input (input)="collectId($event)" placeholder="Job ID eg. 123456" >
</div>
<button type="submit" class="btn btn-primary" (click)="selectApplicant()">Find the applicants</button>

<br>
<ul>
  <li *ngFor='let applicant of candidates$'>
    <p> Candidates </p>
      <ul>
        <li> Applicant Name: <strong> {{applicant.APPLICANTNAME}} </strong> </li>
        <li> Matching Language: <strong> {{ applicant.LANGUAGE }}</strong></li>
      </ul>
  </li>
</ul>
</body>
