<!-- <html> -->
      <body>
        <p> Please login with your user type:</p>
        <button class="applicantButton" (click)="revealHideApplicant()" >Applicant Login</button>
        <button class="employerButton" (click)="revealHideEmployer()" >Employer Login</button>
      <div class="applicant-login-box" *ngIf="applicantIsHidden">
        <h1>Login Here</h1>
              <form>
              <p>Email</p>
              <input type="text" name="applicantEmail" placeholder="Enter Applicant Email" >
              <input type="submit" name="applicantSubmit" value="Login" >

              </form>
          </div>

          <ul>
              <li *ngFor="let temp of add">
               {{temp.address}}
              </li>
            </ul>
          <div class="employer-login-box" *ngIf="employerIsHidden">
            <h1>Login Here</h1>

                  <form>
                  <p>Company Name</p>
                  <input type="text" name="companyName" placeholder="Enter Company Name">
                  <input type="submit" name="companySubmit" value="Login" (click)="verify()">

                  </form>
              </div>

              <!--Company Information-->
                <hr>
                <p>Type: {{itemType}}</p>
                <div class="form-group" *ngIf="visibleCompanyName">
                  <label for="exampleFormControlTextarea1">Company Name</label>
                  <textarea class="form-control" id="companyAdd" rows="1" (input)="collectCompanyName($event)"></textarea>
                </div>
                <div class="form-group" *ngIf="visibleCompanyName">
                  <label for="exampleFormControlTextarea1">Company Address</label>
                  <textarea class="form-control" id="companyAdd" rows="1" (input)="collectCompanyAddress($event)"></textarea>
                </div>
                <div class="form-group" *ngIf="visibleCompanyName">
                  <label for="exampleFormControlTextarea1">City</label>
                  <textarea class="form-control" id="companyCity" rows="1" (input)="collectCompanyCity($event)"></textarea>
                </div>
                <div class="form-group" *ngIf="visibleCompanyName">
                  <label for="exampleFormControlTextarea1">Province</label>
                  <textarea class="form-control" id="companyProvince" rows="1" (input)="collectCompanyProvince($event)"></textarea>
                </div>
                <div class="form-group" *ngIf="visibleCompanyName">
                  <label for="exampleFormControlTextarea1">Postal Code</label>
                  <textarea class="form-control" id="companyPostalCode" rows="1" placeholder = "A1A 2B2" (input)="collectCompanyPostalCode($event)"></textarea>
                </div>

                <div class="form-group" *ngIf="visibleCompanyName">
                  <label for="exampleFormControlTextarea1">Company Description</label>
                  <textarea class="form-control"  id="companyDescription" (input)="collectCompanyDescription($event)" rows="3"></textarea>
                </div>

                <div class="form-group" *ngIf="visibleCompanyName">
                  <label for="exampleFormControlTextarea1">Company Domain</label>
                  <select class="form-control" id="companyDomain" (input)="collectCompanyDomain($event)">
                    <option>Health</option>
                    <option>Finance</option>
                    <option>Technology</option>
                    <option>Other</option>
                  </select>
                </div>


  </body>
