<IfModule mod_rewrite.c>
    RewriteEngine on

Header set Access-Control-Allow-Credentials:true
Header set Access-Control-Allow-Headers:X-Requested-With, Content-Type, Origin, Authorization, Accept, Client-Security-Token, Accept-Encoding
Header set Access-Control-Allow-Methods:POST, GET, OPTIONS, DELETE, PUT

    # Don't rewrite files or directories
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Rewrite everything else to index.html
    # to allow html5 state links
    RewriteRule ^ index.html [L]
</IfModule>